body {
  font-family: $montserratRegular-400;
  background: $negro ;
}

h1 {
  color: $rojo ;
  font-family: $montserratSemiBold-600 ;
  font-size: $font-28 ;
}

h2 {
  font-size: $font-24 ;
}

p {
  color: $blanco;
  font-size: $font-16;
  font-family: $loraRegular-400;
}

a {
  text-decoration: none ;
  font-size: $font-14 ;
  color: $blanco ;
}

ul {
  padding: 0 ;
  margin: 0 ;
}

li {
  list-style: none ;
}

.link-btn {
  background: $rojo;
  // width: 120px ;
  text-transform: uppercase;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  padding: 10px; 
  
}


.btn-inhabi{
  // width: 120px;
  text-transform: uppercase;
  background: $grisClaro;
  padding: 10px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
